<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ability.name.titlecase %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @ability.generation %>
</p>

<p>
  <strong>Ability Number:</strong>
  <%= @ability.ability_id %>
</p>

<strong>Pokemon with the ability <%= @ability.name.titlecase %>:</strong>
<p>
  <% @pokebility = Ability.find_by_name(@ability.name).pokemons.pluck(:name) %>
  <% @pokebility.each do |pokebility| %>
    <%= pokebility.titlecase %>,
  <%  end %>
</p>

<%= link_to 'Edit', edit_ability_path(@ability) %> |
<%= link_to 'Back', abilities_path %>
